*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:  linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #2cff96);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}


.centre{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 200px auto;
}



h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 5em;
    font-weight: 100;
}


.bodywidth{
    padding: 1em;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li{
    margin-left: 2em;
}

h2{
    font-size: 2em;
    font-weight: 200;
}


@keyframes gradientBG { 
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%; 
    }
    100%{
        background-position: 0% 50%; 
    }
}